* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;


}

.head {
    position: relative;
    min-width: 300px;
    min-height: 400px;
    padding: 40px 30px 30px;
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
    color: firebrick;

}

.select {
    color: #fff;
    position: relative;
    display: grid;
    width: 50px;
    place-items: center;
    margin: 8px;
    height: 30px;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
    padding: 5px;
    margin-inline: auto;

}

.btn {
    position: relative;
    display: grid;
    background: #2196f3;

}

button {
    position: relative;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
}


.input-cont2 {
    background: snow(90deg, #1479c9, #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
    padding: 10px;
    margin-inline: auto;
    width: 100%;
    border-radius: 5px;


}

.input-cont {
    background: snow(90deg, #1479c9, #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
    padding: 10px;
    margin-inline: auto;
    width: 100%;
    border-radius: 5px;

}

.connect {
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
    text-align: center;


}

.rasschet {
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
    font-family: "Times New Roman";
    background: #2196f3;
}

.Calculator {
    margin-right: 50%;

}

span {
    position: relative;
    grid-column: span 4;
    border: none;
    outline: none;
    background-color: #a7af7c;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 10px;
    font-size: 2em;
    display:block;
    min-height: 57px;
    margin-top: 30px;

}

#result {
    display: flex;
    flex-direction: column;
    gap: 10px;
}